<select class="version-select">
    <option value="5.0" class="supported">5.0 (Supported)</option>
    <option value="4.0" class="supported">4.0 (Supported)</option>
    <option value="3.0" class="limited_support">3.0 (Limited Support)</option>
    <option value="2.0" class="limited_support">2.0 (Limited Support)</option>
    <option value="1.0" class="unsupported">1.0 (Unsupported)</option>
</select>
<!--
<ul class="nav nav-pills version-select">
  <li class="active dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Version 5.0 <span class="label label-success">Latest</span>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">
          Version 5.0 <span class="label label-success">Latest</span>
          </a></li>
      <li class="divider"></li>
      <li><a href="#">
          Version 4.0 <span class="label label-info">Supported</span>
          </a></li>
      <li><a href="#">
          Version 3.0 <span class="label label-info">Supported</span>
          </a></li>
      <li class="divider"></li>
      <li><a href="#">
          Version 2.0 <span class="label label-warning">Limited Support</span>
          </a></li>
      <li><a href="#">
          Version 1.0 <span class="label label-important">Unsupported</span>
          </a></li>
    </ul>
  </li>
</ul>
-->
