{% extends 'marketplace/base.html' %}
{% load i18n %}
{% block title %}{% trans "Applications" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Applications") %}
{% endblock page_header %}

{% block marketplace_main %}
    <script type="text/javascript">
        support_url = "{% url horizon:marketplace:applications:support app.id %}"; 
    </script>
    <div class="app_page row-fluid" id="app_{{app.id}}">
        <div class="app_header span12">
            <div class="app_icon span2">
                <img src="{{app.icon.url}}"/>
            </div>
            <div class="span10">
                <div class="app_title span10"><h1>{{app.name}}</h1></div>
                <div class="app_desc span10">{{app.description}}</div>
            </div>
        </div>
        <div class="app_details span12">
            <div class="app_info span6">
            <h2>Details</h2>
            {% include "marketplace/applications/_app_details.html" %}
            </div>
            <div class="btn-group app_instance span6" data-toggle="buttons-radio">
                <h2>Select Instance</h2>
                <p class="alert alert-block"><strong>NOTE: </strong>Pricing may vary depending on the deployment zone selected.</p>
                {% include "marketplace/applications/_app_instances.html" %}
                <a class="ajax-modal btn btn-success" 
                   href="{% url horizon:marketplace:applications:start app.id %}" 
                   id="app_checkout" data-loading-text="Checkout out...">
                    <i class="icon-shopping-cart icon-white"></i>Checkout
                </a>
            </div>
            </div>
            <div class="span12">
            <div class="app_support span4">
               <h2>Support</h2>
                <div class="app_support_text"></div>
            </div>
            <div class="app_eula span8">
                <h2>EULA</h2>
                <div class="app_eula_text"><pre>{{app.eula}}</pre></div>
            </div>
        </div>
    </div>
{% endblock %}
