<div class="span4 well">
    <div class="span4">
        <h3>Disks</h3>
        <img src="/media/dashboard/img/disk.png"/>
    </div>
    <div class="span8 metric_selector" id="disk_selector">
        <span class="label label-success"  title="All Disks"
              alt="{% url horizon:syspanel:hosts:disk_stats host.name 'All' %}">All</span>
        {% for disk in host.disk.disks %}
            <span class="label" title="Disk {{disk.name}}"
                  alt="{% url horizon:syspanel:hosts:disk_stats host.name disk.name %}">
            {{disk.name}}</span>
        {% endfor %}
    </div>
    <div class="span4">
        <strong>Tps</strong>
    </div>
    <div class="span4">
        <span id="disk_tps">{{host.disk.tps}}</span>
    </div>
    <div class="span4">
        <strong>Kb Read</strong>
    </div>
    <div class="span4">
        <span id="disk_kbr">{{host.disk.kb_read}}</span>
    </div>
    <div class="span4">
        <strong>Kb Written</strong>
    </div>
    <div class="span4">
        <span id="disk_kbw">{{host.disk.kb_written}}</span>
    </div>

    <div class="span12 metric_graph">
        <img id="disk_graph" src="{{host.part_graph}}" alt="Disks"/>
    </div>
</div>
