<ul class="thumbnails">
                    <li class="span3"><div class="thumbnail"><a href="#" class="thumbnail">
                    <img src="http://172.29.74.80:8081/render?target=carbon.agents.c02-b01-a.cpuUsage&height=600&width=800&bgcolor=white&fgcolor=black" alt="CPU Usage"/>
                    <h5>CPU Usage</h5>
                    </a></div></li>
                    <li class="span3"><div class="thumbnail"><a href="#" class="thumbnail">
                    <img src="http://172.29.74.80:8081/render?target=carbon.agents.c02-b01-a.memUsage&height=600&width=800&bgcolor=white&fgcolor=black" alt="Memory Usage"/>
                    <h5>Memory Usage</h5>
                    </a></div></li>
                    <li class="span3"><div class="thumbnail"><a href="#" class="thumbnail">
                    <img src="http://172.29.74.80:8081/render/?width=800&height=600&_salt=1339442259.041&target=c02-b01.load.load.shortterm&target=c02-b01.load.load.midterm&target=c02-b01.load.load.longterm&bgcolor=white&fgcolor=black" alt="Load"/>
                    <h5>Load</h5>
                    </a></div></li>
                    <li class="span3"><div class="thumbnail"><a href="#" class="thumbnail">
                    <img src="http://172.29.74.80:8081/render/?width=800&height=600&_salt=1339441834.093&target=c02-b01.processes.ps_state.running.value&target=c02-b01.processes.ps_state.zombies.value&target=c02-b01.processes.ps_state.blocked.value&target=c02-b01.processes.fork_rate.value&bgcolor=white&fgcolor=black" alt="Processes"/>
                    <h5>Processes</h5>
                    </a></div></li>
                    <!--
                    <li class="span3"><div class="thumbnail"><a href="#" class="thumbnail">
                    <img src="http://172.29.74.80:8081/render/?width=800&height=600&_salt=1339443729.664&target=c02-b01.interface.if_packets.eth1.rx&target=c02-b01.interface.if_packets.eth1.tx" alt="Network Traffic"/>
                    <h5>Network Traffic</h5>
                    </a></div></li>
                    -->
                    <li class="span3"><div class="thumbnail"><a href="#" class="thumbnail">
                    <img src="http://172.29.74.80:8081/render/?width=800&height=600&_salt=1339441480.545&target=c02-b01.df.df.root.free&target=c02-b01.df.df.root.used&target=c02-b01.df.df.dev.free&target=c02-b01.df.df.dev.used&target=c02-b01.df.df.opt-stack-data-swift-drives-sdb1.free&target=c02-b01.df.df.opt-stack-data-swift-drives-sdb1.used&lineWidth=10&lineMode=slope&bgcolor=white&fgcolor=black" alt="Disk Usage"/>
                    <h5>Disk Usage</h5>
                    </a></div></li>
                    <li class="span3"><div class="thumbnail"><a href="#" class="thumbnail">
                    <img src="http://172.29.74.80:8081/render/?width=800&height=600&_salt=1339442500.263&target=c02-b01.users.users.users&bgcolor=white&fgcolor=black" alt="Users"/>
                    <h5>Users</h5>
                    </a></div></li>
                </ul>

