<div class="span4 well">
    <div class="span4">
        <h3>Memory</h3>
        <img src="/media/dashboard/img/mem.png"/>
    </div>
     <div class="span8 metric_selector" id="mem_selector">
        <span class="label label-success"  title="All Modules"
              alt="{% url horizon:syspanel:hosts:mem_stats host.name 'All' %}">All</span>
        {% for mod in host.mem.mem_mods %}
            <span class="label" title="DIMM {{mod}}"
                  alt="{% url horizon:syspanel:hosts:mem_stats host.name mod %}">
            {{mod}}</span>
        {% endfor %}
    </div>
    <div class="span4 offset4">
        <strong>Capacity</strong> <span id="mem_cap">{{host.mem.total_mem}}</span>&nbsp;GB
    </div>
    <div class="span4 offset4">
        <strong>Used</strong> <span id="mem_used">{{host.mem.mem_used}}</span>&nbsp;GB
    </div>
    <div class="span8" id="mem_load">
        <strong>Used <span id="mem_usage">{{host.mem.mem_usage}}</span>%</strong>
        {% include "syspanel/hosts/_load_bar.html" with load=host.mem.mem_usage bar_class=host.mem.mem_class %}
    </div>
    <div class="span12 metric_graph">
        <img id="mem_graph" src="{{host.mem_graph}}"/>
    </div>
</div>
