<div class="span4 well">
    <div class="span4">
        <h3>Partitions</h3>
        <img src="/media/dashboard/img/part.png"/>
    </div>
    <div class="span8 metric_selector" id="part_selector">
        <span class="label label-success"  title="All Partitions"
              alt="{% url horizon:syspanel:hosts:part_stats host.name 'All' %}">All</span>
        {% for part in host.part.parts %}
            <span class="label" title="Partition {{part.name}}"
                  alt="{% url horizon:syspanel:hosts:part_stats host.name part.name %}">
            {{part.name}}</span>
        {% endfor %}
    </div>
    <div class="span4">
        <strong>Size</strong>
    </div>
    <div class="span4">
        <span id="part_size">{{host.part.total}}</span>&nbsp;GB
    </div>
    <div class="span4">
        <strong>Used</strong>
    </div>
    <div class="span4">
        <span id="part_used">{{host.part.used}}</span>&nbsp;GB
    </div>
    <div class="span8" id="part_load">
        <strong>Used <span id="part_usage">{{host.part.usage}}</span>%</strong>
        {% include "syspanel/hosts/_load_bar.html" with load=host.part.usage bar_class=host.part.class %}
    </div>
    <div class="span12 metric_graph">
        <img id="part_graph" src="{{host.part_graph}}"/>
    </div>
</div>
