<canvas id="status_canvas_{{service.id}}" width="40" height="40"></canvas>
    <script type="text/javascript">
        var canvas = document.getElementById("status_canvas_{{service.id}}");
        var context = canvas.getContext("2d");
        var centerX = canvas.width / 2;
        var centerY = canvas.height / 2;
        var radius = 10;
        
        context.beginPath();
        context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
        context.fillStyle = "#8ED6FF";
        {% if status == 0 %}
            context.fillStyle = "#66FF33";
        {% elif status == 1 %}
            context.fillStyle = "#FFCC33";
        {% else %}
            context.fillStyle = "#FF0000";
        {% endif %}
        context.fill();
    </script>
